<footer>
  <p class="site-info">
    Powered by <a href="https://hexo.io">Hexo</a> | Theme - <a href="https://github.com/dongyuanxin/theme-bmw">BMW</a>
    <br>
    <% if(theme.footer.more){ %>
      <%- theme.footer.more %>
        <% } %>
  </p>
</footer>